.inventory-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  color: white;
}

.form-card {
  background-color: #242424;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.inventory-form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.inventory-form input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #444;
  background: #333;
  color: white;
}

.search-bar {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #007bff;
  background: #1a1a1a;
  color: white;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
  background: #242424;
}

.inventory-table th, .inventory-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #333;
}

.btn-create { background: #28a745; color: white; border: none; padding: 10px 20px; border-radius: 6px; cursor: pointer; }
.btn-update { background: #007bff; color: white; border: none; padding: 10px 20px; border-radius: 6px; cursor: pointer; }
.btn-edit { background: #ffc107; border: none; padding: 5px 10px; border-radius: 4px; cursor: pointer; margin-right: 5px; }
.btn-delete { background: #dc3545; border: none; padding: 5px 10px; border-radius: 4px; color: white; cursor: pointer; }
.inventory-header {
  display: flex;
  justify-content: space-between; /* Separa título y botón */
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 1px solid #333;
  padding-bottom: 15px;
}

.btn-logout {
  background-color: #dc3545; /* Rojo */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.btn-logout:hover {
  background-color: #a71d2a;
}